.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 15rem;
    margin-top: -15rem; /* lo puse yo */   
    transform: scale(1.2);     
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
}

.circle::before {
    border-radius: 100%;
    content: "";
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
}

.achievement span:nth-child(2) {
    color: var(--orange);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .achievement{
        transform: scale(1.6);
    }
    .experience {
        transform: scale(0.9);
        margin-top: 15rem;
        margin-bottom: 25rem;
    }

  }

 /* Media query para tablet */
 @media screen and (min-width: 481px) and (max-width: 768px) {
    .experience{
        margin-top: 15rem;
        transform: scale(1.5);
    }

    .achievement.a1{
        margin-right: 0.5rem;
    }
    
    .achievement.a2{
        margin-left: 0.5rem;
    }
 }

  /* Media query para tablet horizontal */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .experience{
        margin-top: 20rem;
        margin-bottom: 20rem;
        transform: scale(1.5);
    }
  }

  /* Media query para PC escritorio */
 @media screen and (min-width: 1025px) and (max-width: 1224px) {
    .experience{
        display: flex;
        justify-content: center;        
        margin-top: 5rem;
        margin-bottom: 10rem;
        transform: scale(1.4);
    }

    .achievement.a1{
        margin-right: 2rem;
    }
    
    .achievement.a2{
        margin-left: 2rem;
    }
 }

  /* Media query para PC escritorio monitor grande */
  @media screen and (min-width: 1224px) and (max-width: 1824px) {
    .experience{
        display: flex;
        justify-content: center;
        margin-top: -5rem;
        margin-bottom: 25rem;
        transform: scale(1.4);
    }

    .achievement.a1{
        margin-right: 2rem;
    }
    
    .achievement.a2{
        margin-left: 2rem;
    }
  }