.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 7rem;  /* MODIFICADO = original (9rem)*/
    margin-bottom: 13rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;
}

.awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 22px;
    margin-top: 1rem;
}

.cards{
    margin-left: 5rem;
    transform: scale(0.8);
}

.card-1 {
    position: relative; /* o absolute, dependiendo del contexto */
    transform: scale(0.8);
    top: 2rem; /* Ajusta la distancia desde la parte superior */
    left: 5rem; /* Ajusta la distancia desde la izquierda */
}

.card-2 {
    position: relative; /* o absolute, dependiendo del contexto */
    transform: scale(0.8);
    top: 10rem; /* Ajusta la distancia desde la parte superior */
}

.card-3 {
    position: relative; /* o absolute, dependiendo del contexto */
    transform: scale(0.8);
    top: 13rem; /* Ajusta la distancia desde la parte superior */
}


.s-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
}


@media screen and (max-width: 480px) {
    .services {
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: auto; /* Cambiado de 66rem a auto para adaptarse al contenido */
        padding: 0;
        margin-top: 12rem;
    }

    .awesome {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -3rem;
    }
    .card-1, .card-2, .card-3 {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 1rem 0; /* Ajusta el espacio entre las tarjetas */
        width: 12rem;
        height: 8rem;   
        align-items: center;     
    }

    .card-1{
        position: relative;
        margin-right: 18.5rem;
    }

    .card-2{
        position: relative;
        margin-left: 17.5rem;
        margin-top: -2rem;
    }

    .card-3{
        position: relative;        
        margin-right: 14.5rem;
    }
}

