.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{    
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin-left: 5rem;
}

.n-list{
    flex: 10;
}

.n-list > ul{
    display: flex;
    gap: 5rem;
    cursor: pointer;
    margin-right: 10rem;
}

.hovernaranja:hover{
    cursor: pointer;
    color: #ff8000;
}


.n-button{
    position: static;
    height: 3rem;
    margin-top: 1rem;
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {       
    .n-left{
        display: flex;
        justify-content: center;
        margin-left: 1.5rem;
    }
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
  }
