.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{    
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin-left: 5rem;
}

.n-list{
    flex: 10;
}

.n-list > ul{
    display: flex;
    gap: 3rem;
    cursor: pointer;
    margin-right: 10rem;
}

.hovernaranja:hover{
    cursor: pointer;
    color: #ff8000;
}


.n-button{
    position: static;
    height: 3rem;
    margin-top: 1rem;
    transform: scale(1.2);
}


/* Media query para celulares */
@media screen and (min-width: 320px) and (max-width: 480px) {  
    .n-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .n-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
  }

  /* Media query para tablet */
  @media screen and (min-width: 481px) and (max-width: 768px) { 
    .n-left{
        display: flex;
        justify-content: center;        
    }
    .n-list{
        display: none;
    }
    
  }

  /* Media query para tablet */
  @media screen and (min-width: 769px) and (max-width: 1024px) { 
    .n-wrapper{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: scale(0.9);
    }
    

    .n-list{
        display: none;
    }

    
  }

    /* Media query para PC escritorio */
    @media screen and (min-width: 1025px) and (max-width: 1224px) {
        .n-wrapper{
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15rem;
        }

        .n-left{            
            margin-left: -2rem;
        }

        .n-right{
            display: flex;
            justify-content: center;  
        }

        .n-list > ul{  
            gap: 2rem;
            cursor: pointer;
            margin-left: -3.5rem;
            margin-right: 3.5rem;
        }

        .n-button{
            transform: scale(1.1);
            margin-left: .5rem;
            margin-bottom: 1rem;
        }
    }

    /* Media query para PC escritorio monitor grande */
    @media screen and (min-width: 1224px) and (max-width: 1824px) {
        .n-wrapper{
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15rem;
        }

        .n-left{            
            margin-left: -2rem;
        }

        .n-right{
            display: flex;
            justify-content: center;  
        }

        .n-list > ul{  
            gap: 3.5rem;
            cursor: pointer;
            margin-left: 1.5rem;
            margin-right: 3.5rem;
            font-size: 25px;
        }

        .n-button{
            transform: scale(1.1);
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }