.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 8rem;
    margin-bottom: -19rem;
}

.awesome{
    margin-top: -4rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    margin-top: -3rem;
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.textarea{
    height: 4rem!important;
    font-size: 18px;
    font-weight: bold;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-bottom: -5rem;        
        margin-top: 13rem;
    }
    .awesome {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button{
        margin-top: 1rem;
    }

    .c-right{
        transform: scale(0.95);
    }

    .c-right .user{
        width: 16rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-bottom: -5rem;        
        margin-top: 5rem;
    }

    .awesome{
        margin-bottom: 2rem;
    }

    .c-right{
        height: auto;
    }
}

 /* Media query para tablet horizontal */
 @media screen and (min-width: 769px) and (max-width: 1024px) {

    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-bottom: -5rem;        
        margin-top: 5rem;
    }

    .awesome{
        margin-bottom: 5rem;
    }

    .c-right{
        height: auto;
        transform: scale(1.2);
    }

 }

 /* Media query para PC escritorio */
 @media screen and (min-width: 1025px) and (max-width: 1224px) {
    .contact-form{
        margin-bottom: 1rem;
    }
    .c-right{
        margin-top: -4rem;
    }
 }

 @media screen and (min-width: 1224px) and (max-width: 1824px) {
    .contact-form{
        display: flex;
        justify-content: center;
        margin-left: 10rem;
    }

    .c-right{
        margin-top: -4rem;
    }
 }